
.productsData {
	display: flex;
}

.products{
	padding: 10px 30px 10px 10px;
}

.selectedProducts {
	padding: 10px;
}

.header {
	margin: 10px 0;
}

.title {
	font-size: larger;
	font-weight: bold;
	margin: 5px 0;
}

.row {
	margin: 10px 0;
}

.productTitle {
	font-weight: bold;
	margin: 5px 0;
}

.historyOperation {
	margin: 5px 0;
}